a {
  text-decoration: unset;
  color: inherit;
}

#header-component {
  margin: 0 auto;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: auto;
}

.header-title a {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.header-title h1 {
  color: #c0c0c0;
  text-shadow: gold 1px 0 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-title h1:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header-title a > div {
  margin: auto 0 auto 5px;
}

.header-title a img {
  height: 60px;
  border: #b08d57 1.8px solid;
  border-radius: 20px;
  display: block;
}

#header-nav {
  margin-right: 5px;
}

#header-nav a {
  margin-left: 5px;
  padding: 14px;
  text-transform: uppercase;
  color: #c0c0c0;
  font-weight: bolder;
  background-size: 200%;
  background-image: linear-gradient(to left, #b08d57, #ee5a24, #b08d57);
  cursor: pointer;
  border: #b87333 1px solid;
  border-radius: 5px;
  transition: 0.6s;
}

#header-nav a:hover {
  background-position: right;
}

@media only screen and (max-width: 768px) {
  .header-title h1 {
    text-shadow: gold 1px 0 1px;
    font-size: 20px;
    letter-spacing: 1px;
  }

  .header-title a img {
    height: 45px;
    border: #b08d57 1px solid;
    border-radius: 20px;
  }

  #header-nav a {
    font-size: 12px;
    padding: 5px;
    margin-left: 2px;
  }
}
