.video-navbar {
  margin: 0px 7% 5px 7%;
  padding: 5px 5px 5px 5px;
  height: 30px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #c0c0c0 dashed 0.5px;
  transition: box-shadow 0.6s linear;
  border-radius: 5px;
}

.video-routes a {
  padding: 15px;
  color: #cd7f32;
  text-shadow: 0 0 10px #c0c0c0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.video-routes a:hover {
  color: #c0c0c0;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#video-search {
  height: 30px;
  background-color: transparent;
  color: #cd7f32;
  border: none;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 1em 3px 3px;
  border-bottom: #cd7f32 solid 2px;
  transition: box-shadow 0.6s linear;
}

#video-search:focus {
  border-bottom: red solid 2px;
  box-shadow: 0px 0px 0px 5px #cd7f32;
}

#video-search:not(:placeholder-shown) {
  border-bottom: #cd7f32 dashed 2px;
}

@media only screen and (max-width: 768px) {
  .video-navbar {
    width: 100%;
    padding: 0;
    margin: 0 1px 0 1px;
  }

  .video-routes a {
    font-size: 9px;
    padding: 5px;
  }

  #video-search {
    padding: 0px;
    height: 20px;
    overflow: hidden;
  }
}
