span {
  font-size: 19px;
  font-weight: bolder;
}

.video-wrapper {
  width: calc(0.75 * 100vw);
  margin: 5px auto;
  color: #b08d57;
}

.video-poster {
  border-top: #c0c0c0 solid 1px;
  border-bottom: #c0c0c0 solid 1px;
  display: flex;
  justify-content: space-between;
  background-color: #141c3a;
  padding: 5px;
  align-items: center;
}

.video-title {
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  padding: 10px;
}

.uploader p:nth-of-type(2) {
  font-style: italic;
  font-size: 12px;
}

.video-player {
  margin: 0 0 45px 0;
  background-color: #141c3a;
}

.likes-comments-share {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.likes-comments {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share {
  color: inherit;
  padding: 5px;
  text-transform: uppercase;
  text-shadow: #c0c0c0 1px 0 5px;
  background-color: transparent;
  cursor: pointer;
  border: #b87333 1px dotted;
  border-radius: 5px;
  transition: 0.8s;
}

.share:hover {
  color: #c0c0c0;
  background-color: #b87333;
}
