body {
  background-color: #16161d;
  color: white;
  font-family: "Gudea", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.page-title {
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #c0c0c0;
  text-shadow: gold 1px 0 5px;
  margin-bottom: 5px;
}
